.sidebar-sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.sidebar-item-container {
  width: 100%;
  padding: 12px;
}

.selected-sidebar-item-container {
  width: 100%;
  padding: 12px;
  background-color: grey;
  color: red;
  font-weight: bold;
}

.sidebar-item-container:hover {
  background-color: #424242;
}

.sidebar-icon {
  height: 20px;
  width: 20px;
  margin-right: 15px;
}

.selected-sidebar-icon {
  height: 20px;
  width: 20px;
  margin-right: 15px;
  color: #db2b2b;
}

.contact-us-section {
  padding: 12px;
}

.Contact-us-logo-container {
  width: 65%;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}

.contact-us-logo {
  height: 35px;
  width: 35px;
}

.contact-us-heading {
  font-size: 15px;
  font-weight: bold;
  color: #475569;
}

.contact-us-description {
  font-weight: 400;
}
